{% extends "qualifications/qualification_list_base.html" %}

{% block qual_list_items %}
  {% for qual in qualificationvalue_list %}
    <li class="gem-c-document-list__item">
      <a
        class="gem-c-document-list__item-title govuk-link"
        href="{% url 'qualification_detail' qual.id %}"
      >
        {{ qual.qualification.qualification_title }}
      </a>
      {% if qual.qualification.awarding_body.name_human %}
        <br />
        <span class="gem-c-document-list__item-context">
          {{ qual.qualification.awarding_body.name_human }}
        </span>
      {% endif %}
      <ul class="gem-c-document-list__children">
        <li class="gem-c-document-list-child">
          <span>
            {% if qual.qualification.qualification_category == "Qualification" %}
              Qualification number:
            {% else %}
              Claim code:
            {% endif %}
          </span>
          <span>{{ qual.qualification.qualification_code }}</span>
        </li>
        <li class="gem-c-document-list-child">
          <span>Funding value:</span>
          <span>{{ qual.funding_value_human }}</span>
        </li>
        {% if qual.qualification.level %}
          <li class="gem-c-document-list-child">
            <span>{{ qual.qualification.qualification_type2 }}</span>
          </li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
{% endblock %}
